@import '../bootstrap/bootstrap';
$img-height: 233px !important;

.card {
  background: none !important;
  border: 0 !important;
}

.lazyload-wrapper {
  .card-img {
    border-radius: 0 !important;
    max-height: $img-height;
    min-height: $img-height;
    object-fit: cover;
  }

  .fade-appear {
    opacity: 0.01;
  }

  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 600ms ease-in;
  }
}

.card-title-container {
  background: $denim;
  color: $gold;
  font-size: 1.4rem;
  font-weight: 100;
  overflow: hidden;
  padding: 0.55rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.card-subtitle-container {
  background: #355463;
  color: rgba(246, 205, 77, 0.7);
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  overflow: hidden;
  padding: 0.25rem 0.55rem;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-block {
  padding: 0.5rem;
}

.card-text {
  font-size: 1.1rem;
  margin: 0;
}

.card-block a {
  color: $black;
}

.card-info {
  line-height: 2.5;
  margin-bottom: 1.5rem;
  width: 100%;
}

.card-heading {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.25rem;
  margin-top: 10px;
}

.card-social-share { 
  display: block;
  enable-background: new 0 0 24 24;
  height: 1.75rem;
  width: 1.75rem;

  :hover {
    cursor: pointer;
  }
}

.card-social {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin-top: 10px;
  white-space: nowrap;
}

.social-link-fb svg,
.social-link-tw svg {
  cursor: pointer;
  height: 1.7rem;
}

.social-link-fb svg {
  .st0 {
    fill: #395898;
  }
}

.social-link-tw svg {
  .st0 {
    fill: #2da1ec;
  }
}

@include media-breakpoint-down(sm) {
  .card-heading {
    font-size: 0.9rem;
  }

  .social-link-fb svg,
  .social-link-tw svg {
    height: 2rem;
  }
}
